In [1]:
import pandas as pd
import warnings
from datetime import datetime

warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('data/국토교통부_교량_20220627.csv', encoding = 'cp949')

In [3]:
col = ['교량명', '시설물종별등급구분', '시도명', '시군구명', '교량시작점위도', '교량시작점경도', '교량종료점위도', '교량종료점경도', '교량연장', '교량폭', '차로수', '상부구조형식', '교량준공연도', '최종안전점검결과', '설계활하중']
mydf = df[col]

In [4]:
mydf = mydf[(mydf['시도명'] == '서울특별시') | (mydf['시도명'] == '경기도')]

In [5]:
mydf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6005 entries, 0 to 31249
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   교량명        6005 non-null   object
 1   시설물종별등급구분  6005 non-null   int64
 2   시도명        6005 non-null   object
 3   시군구명       6005 non-null   object
 4   교량시작점위도    6005 non-null   float64
 5   교량시작점경도    6005 non-null   float64
 6   교량종료점위도    6005 non-null   float64
 7   교량종료점경도    6005 non-null   float64
 8   교량연장       6005 non-null   float64
 9   교량폭        6005 non-null   float64
 10  차로수        6005 non-null   int64
 11  상부구조형식     6005 non-null   object
 12  교량준공연도     6005 non-null   int64
 13  최종안전점검결과   6005 non-null   object
 14  설계활하중      6005 non-null   object
dtypes: float64(6), int64(3), object(6)
memory usage: 750.6+ KB

In [6]:
mydf.describe()

,시설물종별등급구분,교량시작점위도,교량시작점경도,교량종료점위도,교량종료점경도,교량연장,교량폭,차로수,교량준공연도
count,6005.000000,6005.000000,6005.000000,6005.000000,6005.000000,6005.000000,6005.000000,6005.000000,6005.000000
mean,33.737386,37.417136,127.017258,37.417295,127.017442,117.875470,16.678201,3.069442,2002.480100
std,45.317117,1.000856,3.288678,1.000871,3.288688,261.476253,9.865187,1.715725,11.135266
min,1.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,1937.000000
25%,2.000000,37.254377,126.898512,37.254425,126.898398,25.200000,10.000000,2.000000,1995.000000
50%,3.000000,37.403122,127.079996,37.403360,127.080766,46.400000,14.700000,2.000000,2002.000000
75%,99.000000,37.639185,127.249513,37.638824,127.249751,120.000000,20.900000,4.000000,2011.000000
max,99.000000,38.214736,127.787583,38.215452,127.787775,8298.000000,145.000000,15.000000,2099.000000

In [7]:
mydf.loc[mydf['시설물종별등급구분'] == 99, '시설물종별등급구분'] = '기타'

In [8]:
mydf[mydf['시설물종별등급구분'] == '기타'][:3]

,교량명,시설물종별등급구분,시도명,시군구명,교량시작점위도,교량시작점경도,교량종료점위도,교량종료점경도,교량연장,교량폭,차로수,상부구조형식,교량준공연도,최종안전점검결과,설계활하중
18,숙성라멘교,기타,경기도,평택시,37.006480,126.979678,37.006435,126.979849,11.0,19.5,4,라멘교,1997,B,DB-24
20,양복육교,기타,경기도,안성시,37.015933,127.317516,37.015941,127.317631,12.0,19.5,4,라멘교,1997,B,DB-24
23,두현육교,기타,경기도,안성시,37.072621,127.400952,37.072552,127.401297,12.0,19.5,4,라멘교,1997,C,DB-24

In [9]:
mydf.loc[mydf['교량명'] == '사암교', '교량폭'] = 10

In [10]:
mydf[mydf['교량명'] == '사암교']

,교량명,시설물종별등급구분,시도명,시군구명,교량시작점위도,교량시작점경도,교량종료점위도,교량종료점경도,교량연장,교량폭,차로수,상부구조형식,교량준공연도,최종안전점검결과,설계활하중
11837,사암교,3,경기도,용인시 처인구,37.192202,127.304973,37.192273,127.305269,26.4,10.0,2,라멘교,2001,B,DB-24

In [11]:
width_0 = mydf[mydf['교량폭'] == 0].index
mydf = mydf.drop(width_0)

In [12]:
mydf[mydf['교량폭'] == 0]

Empty DataFrame
Columns: [교량명, 시설물종별등급구분, 시도명, 시군구명, 교량시작점위도, 교량시작점경도, 교량종료점위도, 교량종료점경도, 교량연장, 교량폭, 차로수, 상부구조형식, 교량준공연도, 최종안전점검결과, 설계활하중]
Index: []

In [13]:
year_99 = mydf[mydf['교량준공연도'] == 2099].index
mydf = mydf.drop(year_99)

In [14]:
mydf[mydf['교량준공연도'] == 2099]

Empty DataFrame
Columns: [교량명, 시설물종별등급구분, 시도명, 시군구명, 교량시작점위도, 교량시작점경도, 교량종료점위도, 교량종료점경도, 교량연장, 교량폭, 차로수, 상부구조형식, 교량준공연도, 최종안전점검결과, 설계활하중]
Index: []

In [15]:
mydf['설계활하중'] = mydf['설계활하중'].str.replace(pat = r'\([^)]*\)', repl = r'', regex = True)

In [16]:
mydf['준공후경과년수'] = datetime.today().year - mydf.loc[:, '교량준공연도']

In [17]:
mydf['준공후경과년수'][:3]

0    37
1    27
2    32
Name: 준공후경과년수, dtype: int64

In [18]:
mydf = mydf.drop('교량준공연도', axis = 1)

In [19]:
mydf.reset_index(drop = True, inplace = True)

In [20]:
mydf.head(3)

,교량명,시설물종별등급구분,시도명,시군구명,교량시작점위도,교량시작점경도,교량종료점위도,교량종료점경도,교량연장,교량폭,차로수,상부구조형식,최종안전점검결과,설계활하중,준공후경과년수
0,진위교,2,경기도,평택시,37.100957,127.064200,37.102066,127.063897,125.0,21.0,4,PSCI거더교,B,DB-24,37
1,풍계교,3,경기도,이천시,37.133443,127.602141,37.133710,127.601766,55.0,20.0,2,RC슬래브교,B,DB-24,27
2,태평교,3,경기도,여주시,37.200325,127.545522,37.200578,127.545179,43.8,19.5,4,PSCI거더교,B,DB-24,32

In [21]:
mydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5993 entries, 0 to 5992
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   교량명        5993 non-null   object
 1   시설물종별등급구분  5993 non-null   object
 2   시도명        5993 non-null   object
 3   시군구명       5993 non-null   object
 4   교량시작점위도    5993 non-null   float64
 5   교량시작점경도    5993 non-null   float64
 6   교량종료점위도    5993 non-null   float64
 7   교량종료점경도    5993 non-null   float64
 8   교량연장       5993 non-null   float64
 9   교량폭        5993 non-null   float64
 10  차로수        5993 non-null   int64
 11  상부구조형식     5993 non-null   object
 12  최종안전점검결과   5993 non-null   object
 13  설계활하중      5993 non-null   object
 14  준공후경과년수    5993 non-null   int64
dtypes: float64(6), int64(2), object(7)
memory usage: 702.4+ KB

In [22]:
mydf.describe()

,교량시작점위도,교량시작점경도,교량종료점위도,교량종료점경도,교량연장,교량폭,차로수,준공후경과년수
count,5993.000000,5993.000000,5993.000000,5993.000000,5993.000000,5993.000000,5993.000000,5993.000000
mean,37.417352,127.016104,37.417511,127.016288,118.059770,16.706808,3.071417,20.594026
std,1.001837,3.291857,1.001852,3.291867,261.703972,9.852839,1.716635,10.789041
min,0.000000,0.000000,0.000000,0.000000,3.000000,2.000000,0.000000,2.000000
25%,37.254377,126.898028,37.254444,126.898350,25.200000,10.000000,2.000000,12.000000
50%,37.403253,127.079622,37.403536,127.079997,46.600000,14.700000,2.000000,21.000000
75%,37.639349,127.248739,37.639334,127.249122,120.000000,20.900000,4.000000,28.000000
max,38.214736,127.787583,38.215452,127.787775,8298.000000,145.000000,15.000000,86.000000

In [23]:
mydf.to_csv('data/국토교통부_교량_20220627_정제.csv', encoding = 'utf-8-sig', index = False)